<tr>
    <td><%= image_tag impact.image(:medium) %></td>
    <td><%= impact.description %></td>
    <td><%= link_to 'Show', impact %></td>
    <% if current_user == impact.user %>
    <td><%= link_to 'Edit', edit_impact_path(impact) %></td>
    <td><%= link_to 'Destroy', impact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>