<!DOCTYPE html>
<html>
	<head>
	<title>Iotagive</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="flexslider.css" type="text/css">
	<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="jquery.flexslider.js"></script>

	</head>
	<body>
		<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/images/image1.jpg" />
    </li>
    <li>
      <img src="/images/image2.jpg" />
    </li>
    <li>
      <img src="/images/image3.jpg" />
    </li>
  </ul>
</div>
	<%= render "layouts/header" %>
	
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>
		<%= yield %>
	<%= render "layouts/footer" %>	
	</div>

	</body>

</html>
